@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


body {
  background-color: #7A9AFF;
  font: 15px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
}

.menu {
  font-size: 24px;
  ul {
    list-style: none;
  }
}

